.border-bottom-primary {
    border-bottom: 20px solid $clr-primary;
}

.banner {
    background-image: url("/img/banner.jpg");
    background-repeat: no-repeat;
    background-color: gray;
    background-blend-mode: multiply;
    background-size: cover;
    height: 88vh;
    text-align: center;
    color: $clr-white;
    hr {
        width: 30%;
        margin: 2rem auto;
    }
    h2 {
        font-size: clamp(2rem, 3vw, 3rem);
    }
    h3 {
        font-size: clamp(1.5rem, 2vw, 2rem);
    }
}

.services {
    padding: 6rem 0;
    color: $clr-gray;
    &__wrapper {
        @include grid(3,2rem);
        @include mediaQuery (){
            @include grid(1, 2rem)
        }
    }
    h2 {
        font-size: clamp(2rem, 3vw,2.3rem);
    }
    h3 {
        font-size: clamp(1.5rem, 3vw,0.5rem);
    }
}

.offer {
    padding: 3rem 0;
    h2 {
        font-size: 2.2rem;
    }
}

.about {
    padding: 6rem 0;
    &__wrapper {
        @include grid(2,5rem);
        @include mediaQuery (){
            @include grid(1, 1rem)
        }
        img {
            width: 100%;
        }
        h2 {
            font-size: clamp(2rem,3vw, 2.2rem);
        }
    }
    
}

.address {
    padding: 6rem 0;
    &__wrapper {
        @include grid(2,5rem);
        @include mediaQuery (){
            @include grid(1, 1rem)
        }
        img {
            width: 100%;
        }
        h2 {
            font-size: clamp(2rem,3vw, 2.2rem);
        }
    }
}

.testimonials {
    padding: 6rem 0;
    &__wrapper {
        @include grid(3,2rem);
        @include mediaQuery (){
            @include grid(1, 2rem)
        }
        text-align: center;
    }

    hr {
        width: 30%;
        height: 2px;
        margin: 1.5rem auto;
    }
}

.askedQuestions {
    padding: 6rem 0;
    h2 {
        font-size: clamp(1.5rem, 3vw, 2rem);
    }
    h3 {
        font-size: clamp(0.7rem, 3vw, 1.4rem);
    }
}

.location {
    padding: 6rem 0;
    &__wrapper {
        @include grid(2,5rem);
            @include mediaQuery (){
                @include grid(1, 1rem)
            }
        hr {
            border: 0.1px solid $clr-primary;
            width: 80%;
            margin-top: 1rem auto;  
        }
        @include mediaQuery () {
            hr {
                width: 40%;
            }
            iframe {
                width: 100%;
            }
        }
        h2 {
            font-size: clamp(1.5rem, 3vw, 2rem);
        }
    }
}

.footer {
    padding: 2rem 0;
    ul {
        font-weight: bold;
    }
    @include mediaQuery (){
        .footer__wrapper {
            text-align: left;
            display: block;
        }
        ul {
            display: block;
        }
        li {
            padding: 0.3rem 0;
        }
        .line {
            display: none;
        } 
    }
}

