.border-bottom-primary {
    border-bottom: 20px solid $clr-primary;
}

.banner {
    background-image: url("/img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 88vh;
    text-align: center;
    color: $clr-white;
    hr {
        width: 30%;
        margin: 2rem auto;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2rem;
    }
}